
header.sub-header {
    display: none;
}

select {
    display: inline-block;
}



/*------------------------------------------------------------main block--*/


div#main-all-pets {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: none;
   
}



div#main-first-block {
    
    display: flex;
    position: relative;    
    width: 1200px;  
    
    flex-direction: column;
  /*align-items: center;*/   
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.5);
    border: solid 1px white;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 0;   
    margin-top: 100px;
    margin-bottom: 50px;

}



/*-------------------------------------------------------*/



div.pets-slider-container {
    display: flex;
    align-items: center;
   
    margin-bottom: 70px;
}

div#pets-for-adoption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a.pet {
    background-color: rgb(255, 255, 255, 0.7);
    border: solid 1px rgb(255, 255, 255, 0.9);
    margin: 20px;
    padding: 25px;
    border-radius: 25px;   
}

a.pet:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px rgba(173, 173, 173, 0.4);
    transform: scale(1.03);
    transition: 0.1s;
}

div.pet-photo {
    position: relative;
    width: 280px;
    aspect-ratio: 280/340;
    border-radius: 10px;
    overflow: hidden;
}

div.pet-photo:hover img {
    opacity: 0;
    transition: 0.1s;
}


img.pet-photo {
    position: absolute;
    left: -30%;
    width: auto;
    height: 100%;
}


a.pet div.pet-caption {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 100%;
    padding: 1em;
    color: #762D00;
    text-transform: uppercase;    
}

div.pet-caption>div {
    padding: 0 1em 0 1em;
}

div.pet-caption .highlight {
    font-weight: 700;
}


div.pet-caption div:last-child  {
   position: relative;  
}


div.pet-caption div div.age-number {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;   
    font-size: 95%;
}



@media all and (max-width:380px) {

    div.pets-slider-container {
        width: 100%;
    }

    div#pets-for-adoption {
        width: 100%;
    }

    a.pet {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    div.pet-photo {
        width: 100%;
    }


}








