
header.sub-header {
    display: none;
   
}



/*------------------------------------------------------------main block--*/

div#main-first-block {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;     
}

/*------------------------------------------articles*/




/*------------------------------------------form*/

#form-title {
    margin-top: 40px;
}


select {
    display: block;    
    width: 100%;   
}

textarea{
    box-sizing: content-box;
}


div.scructure-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 250px 0 0;
    height: 100%;
    border-left: solid 1px rgba(118, 45, 0, 0.582);
    padding-left: 30px;
}

div#mini-photo {
   flex: 70px 0 0;
   width: 70px;
    height: 70px;
    border-radius: 35px;
    border:solid 1px rgba(118, 45, 0, 0.582);
    background-image: url('../images/apelsin/3.jpg');
    background-size: 150%;
    background-position: -20px; 
}



div#form-main-block {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 900px;
    height: 600px;
   
}

div#form-main-block button, div#form-main-block input[type="submit"] { 
    background: none;
    outline: solid 1px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 0.5em 1em 0.5em 1em;
    transition: 0.2s;
}

form#take-pet-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


div#form-buttons {
    display: flex;
    gap: 10px;
    bottom: 40px;
    left: 350px;
    position: absolute;
    z-index: 100;
    display: none;
}

div#form-buttons.button-active {
   display: flex;
}


div.form-container { 
    position: absolute;
    inset: 0;   
    width: 100%;
    
    flex: 500px 1 1;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;    
    display: flex;   
    padding: 50px;
    align-items: center;
    justify-content: space-between;

   
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

div.form-container.active { 
    opacity: 1;
    visibility: visible;
    z-index: 10;
}









/*----------------------------------------1 card*/

div.first-card {
    justify-content: center;
    align-items: center;
}

div.form-photo {
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    margin-bottom: 50px;
    margin-right: 0;
    background-image: url(../images/girl&cat.jpeg);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 50%;
}

div.first-card-text {
    flex: 400px 0 0;
    border: none;
}

div#form-main-block button#start {
    font-size: 100%;
    background-color: rgba(177, 86, 63, 1);
    color: white;
    padding: 0.7em 1.3em 0.7em 1.3em;
}

/*----------------------------------------last card*/




div#form-submit-buttons  {
display: flex;
gap: 10px;
align-self: self-end;
}

div#form-submit-buttons input[type="submit"] {
    background-color: rgba(177, 86, 63, 1);
    color: white;

}

div.last-card {
    justify-content: space-between;
}

div.employment-data {
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/*----------------------------------------last card*/














div#form-title {
    font-size: 250%;
    color:  #762D00;
    margin-left: 50px;
}


div.right-block {
    flex: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 30px;
}

div.name-data>div, div.habitation-data>div, div.pets-data>div, div.employment-data>div  {
    display: flex;
    flex-direction: column;
   
}

div.name-data>div:last-child{
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}  

div.name-data div:last-child div{
   display: flex;
   flex-direction: column;
  flex: auto;
  
}  

div.name-data div:last-child div input{
   flex: auto;
}  
        

div.radio>div {
    display: flex;
}


div.pets-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


div.pets-data>div:last-child {
    display: flex;
    flex-direction: column;
}


div#form-main-block>div:last-child button:last-child {
    outline-color:#762d00cc;
    color: #762D00;
}

div#form-main-block button:first-child {
    outline-color: #a8a8a8;
    color: #a8a8a8;
}

div#form-main-block button:first-child div {
    width: 30px;
    height: 30px;
}


div.form-2 .form div.radio div {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    display: inline-block;
    width: 1em;
    height: 1em;
}


div.name-data {
    display: flex;
}

div.habitation-data, div.name-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.form-2 .form div.radio {
    display: block;
}

div.form-2 .form div.radio div  {
    display: flex;
}




@media all and (max-width:950px) {

    div#main-first-block {
        width: 100%;
    }

    div#form-main-block {    
        width: 100%;
        min-height: 800px;
    }

    div.scructure-block {
    flex: 250px 0 0;
    }

    div.name-data>div:last-child {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
   
    div#form-title {
        font-size: 230%;
        margin-left: 40px;
    }

    div.form-photo {
        margin-bottom: 0;
        background-size: 180%;
    }

    div.form-photo {
        margin-bottom: 0;
        background-size: 240%;
    }
}

@media all and (max-width:800px) {

    div.form-container { 
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        gap: 30px;
    }
        

    div.right-block {
        width: 100%;
        flex: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-right: 0;
    }

    div.scructure-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        flex: 250px 1 1;
        border-left: none;
        border-bottom: solid 1px rgba(118, 45, 0, 0.582);
        padding-left: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        order: -1;
    }

    div.scructure-block.first-card-text {
        border-bottom: none;
        border-top: solid 1px rgba(118, 45, 0, 0.582);
        order: 1;
    }

    div.right-block {
        width: 100%;
        flex: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-right: 0;
    }


    div.name-data>div:last-child {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }


    div#form-buttons {
        gap: 10px;
        bottom: 40px;
        left: 350px;
        position: static;
        padding: 40px;
        align-self: flex-end;
        display: none;
    }

    div#form-title {
        font-size: 230%;
        margin-left: 40px;
    }

    div.form-photo {
        margin-bottom: 0;
        background-size: 180%;
    }


  div.pet-selection label {
        display: block;

    }



@media all and (max-width:400px) {

    

    div.scructure-block {
        flex-direction: column;
       
    }

    div#form-title {
    font-size: 150%;
    margin-left: 10px;
}

   div.form-container { 
       padding: 20px;
    }

div.form-photo {
   
    margin-bottom: 0;
    background-size: 210%;
}
}
}












