*{
    box-sizing: border-box;
    font-family: "Ysabeau SC", sans-serif;
    
}

a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}

body {
       margin: 0;
}


header.sub-header {
    display: none;
   
}



/*------------------------------------------------------------main block--*/


div#main-first-block {   
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
}

div#main-first-block>div:first-child {
    display: flex;
    flex-direction: column;
}

div.pet-info {
    width: 70%;  
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 40px;   
}

div.pet-info>div:first-child {
  
    background-color: white;
    border-radius: 20px;   
    display: flex;    
    gap: 30px;
    padding: 50px;
    align-items: center;
}

div.photos {
    display: flex;
    justify-content: space-between;   
}

div.photo {
    border: none;
    border-radius: 10px;
    width: auto;
    height: 267px;
    margin: 0px 20px 30px 0;
    overflow: hidden;
}

div.photo img {  
    width: 100%;    
}

div.main-info-block {
    display: flex;
    align-self: start;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

div#main-photo-cont {
    width: 50%;
    height: 840px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
}

div#main-photo-cont img {
    width: 100%;
    border-radius: 15px;
}

div.main-photo {
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 400px;
    overflow: hidden;
    margin-right: 20px;
    box-sizing: border-box;
}

div.main-photo img {
    width: 100%;
}

div.info {
    width: 50%;
    display: flex;  
    flex-direction: column;  
    justify-content: flex-start;
}

div.name-block {
    background-color:  rgb(182, 144, 132);
    border-radius: 10px;
    width: 100%;
    padding: 1em 1em 1em 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

div#pet-name {
    text-transform: uppercase;
    color: white;
    font-size: 130%;
}

div.name-icon {
    width: 25px;
    height: 25px;
    color: white;
}

div.pet-features-cont {
   display: flex;
   margin-top: 30px;
   color:  rgb(85, 85, 85);
   flex-wrap: wrap;
   justify-content: space-between;
}

div.pet-features-cont:last-child {
  
   margin-top: 10px;
   
}

div.pet-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;
    flex-wrap: wrap;
}

div#pet-features {
    margin-bottom: 30px;
   
}

div.pet-features .value {
    flex: 3;
    border: none;
    border-radius: 15px;    
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 0 0;    
}

div#pet-age .value:not(.feature-title), div#pet-sex .value:not(.feature-title) {
   
   
}



div.pet-features .value.feature-title {
    border: solid 1px lightgray;
  flex: 1;
    
}

div#features {
    display: flex;
    
}

div#features div {
    display: block;
}

div#character-cont{
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

div#pet-info-text {
    color: rgb(70, 70, 70);
    font-size: 110%;
    line-height: 140%;
    padding: 0 10px 30px 0;
}

/*----------------------------------------buttons*/
div#pet-info-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;    
}

div#pet-info-buttons div:last-child {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

div#pet-info-buttons input, div#pet-info-buttons button {
    flex: auto;
    box-sizing: border-box;
    padding: 1em 1.5em 1em 1.5em;
    border: none;  
    border: solid 1px rgba(177, 86, 63, 1);   
    background-color: rgb(255, 255, 255, 1);
    color:rgba(177, 86, 63, 1);
    font-size: 90%;
    font-weight: 600;
    text-transform: uppercase;
    height: 100%;
    border-radius: 8px;  
}

div#pet-info-buttons a {
   display: flex;
   flex: auto;
   height: auto;
}

div#pet-info-buttons>a input {
    flex: auto;
    box-sizing: border-box;
    padding: 1em 1.5em 1em 1.5em;  
    border: solid 1px rgba(177, 86, 63, 1);   
    background-color: rgba(177, 86, 63, 1);
   
   
    color: rgb(255, 255, 255);
    font-size: 90%;
    text-transform: uppercase;
    height: 100%;
    border-radius: 8px;
    transition: 0.1s;  
}

div#pet-info-buttons input:first-child:hover {
    color: white;
    background-color: rgba(202, 153, 140, 0.95);
    border-color: rgba(202, 153, 140, 0.95);
    
}

div#pet-info-buttons input:not(:first-child):hover, div#pet-info-buttons button:hover  {
    
    background-color: rgba(216, 187, 179, 0.95);
    border-color: rgba(216, 187, 179, 0.95);
    outline: none;
    color: white;
}


div#pet-info-buttons button:hover {
    
    background-color: rgba(202, 153, 140, 0.95);
    
}



div#pet-info-buttons button {
    flex-basis: 25px;
    flex-grow: 0;    
}

div#pet-info-buttons button div {   
    height: 25px;    
}


div#share-button {
    width: 20px;
    height: 20px;
}


/*------------------------------------------------------------/main block--*/




/*------------------------------------------------------------/menu--*/

div.top-block {
    
    
    margin-top: 70px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;     
}



/*------------------------------------------------info*/

div.pet-info-message {
    box-sizing: border-box;
    position: relative;
    width: 100%;   
    border: solid 1px rgb(42, 97, 42);
    color:rgb(42, 97, 42);
    border-radius: 20px;
    padding: 40px;
    margin: 0 40px 30px 40px;
    display: none;
}

div.pet-info-message a {
   margin-left: 40px; 
   
}

div.pet-info-zoopsy {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    background-color:  rgba(141, 161, 141, 0.5);
    border: solid 1px rgb(130, 156, 130);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 40px;
    gap: 30px;
    font-size: 110%;
    font-weight: 500;
    text-transform: uppercase;    
}

div.pet-info-zoopsy>div:last-child {   
    background-color:  rgba(255, 255, 255, 0);
    padding: 30px;
    border-radius: 40px;
    flex: auto;
    display: flex;
    gap: 20px;
   
}

div.pet-info-zoopsy>div:last-child  div{ 

    text-align: center;
}

div#author-avatar {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    border: solid 3px white;
    background-image: url('../images/vet.webp');
    background-size: 170%;
    background-position: 30% 10%;
    margin-left: 20px;
    border: none;
}

input#pet-info-zoopsy-button {
    align-self: flex-end;   
    box-sizing: border-box;
    padding: 1em 1.5em 1em 1.5em;
    border: none;
    outline: solid 1px rgb(60, 80, 60);;
    background-color:rgba(180, 190, 180, 0);;
    color: rgb(60, 80, 60);
    font-size: 90%;
    font-weight: 600;
    text-transform: uppercase;    
    border-radius: 8px;
}

/*------------------------------------------articles*/


div.articles {    
    flex: 400px 0 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 1300px;
    margin-top: 80px;
    
    overflow: auto;
}



a.article {    
    display: inline-block;
    width: 250px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.3);
    border: solid 1px rgb(255, 255, 255, 1);
    margin: 40px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 25px;   
}

a.article:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px rgba(173, 173, 173, 0.4);
}


div.article-photo {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

img.article-photo {
    position: absolute;
    right: -50%;
    width: auto;
    height: 100%;
}

div.article-caption {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.3);
    border: solid 1px rgb(255, 255, 255, 1);
    border-radius: 15px;   
    font-size: 80%;
    padding: 1em;
    margin-top: 1em;
    color: #762D00;
    text-transform: uppercase;
    
}

div.articleS-caption div {
    padding: 0 1em 0 1em;
}



/*------------------------------------------media*/


@media all and (max-width:1600px){
    div.articles {
        display: none;
    }
    div#main-first-block {
        
        justify-content: center;
    }

    div.pet-info {
        width: 100%;  
        margin: 80px 40px 40px 40px;
    }
}

@media all and (max-width:1000px){
    
    div.main-info-block {
        display: flex;
        flex-direction: column;     
    }

    div#main-photo-cont {
        width: 100%;
        height: 500px;
    }

    div.pet-info {
        width: 100%;  
        margin-top: 40px;
    }

    div.info {
        width: 100%;    
    }
    div.pet-info>div:first-child {
        width: 100%;
    }

    div.pet-info-zoopsy>div:last-child {   
        flex-direction: column;
        gap: 40px;
        padding: 0;
   
}


input#pet-info-zoopsy-button {
    align-self: center;   
    
}

}


@media all and (max-width:600px){

    div#main-first-block {
        margin-top: 0; 
        width: 100%;   
    }

    div.main-info-block {
        display: flex;
        flex-direction: column;     
    }

    div#main-photo-cont {
        width: 100%;
        height: 500px;
    }

    div.pet-info {
        margin: 10px;
    }


    div.pet-info>div:first-child {
        padding: 30px;
    }

    div#main-photo-cont {
        gap: 15px;
    }

    div#pet-info-text {
    color: rgb(70, 70, 70);
    font-size: 100%;
    line-height: 140%;
    padding: 20px 0 30px 0;
}

div.pet-info-zoopsy {
    flex-direction: column;
}

}