
*{
    box-sizing: border-box;
    font-family: "Ysabeau SC", sans-serif;
    
}



header.sub-header {
    display: none;
}

select {
    display: inline-block;
}



/*------------------------------------------------------------main block--*/


div#main-all-pets {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: none;
   
}



div#main-first-block {
    
    display: flex;
    position: relative;    
    width: 1200px;  
    
    flex-direction: column;
  /*align-items: center;*/   
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.5);
    border: solid 1px white;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 0;   
    margin-top: 100px;
    margin-bottom: 50px;

}

div#title-block {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

div.title {
    font-size: 120%;
    text-transform: uppercase;
    align-self: start;
    margin-left: 100px;
    margin-bottom: 40px;
    color: #762D00;   
}

/*------------------------------------------------selects--*/



select#pet-kind, select#pet-age, select#pet-sex  {
    padding: 0.5em;
    /*border: solid 1px lightgray;*/   
    border-radius: 10px;
    flex: auto;
    margin-left: 30px;
    box-sizing: content-box;
}


div.features>div, form#pet-search-form label {
   text-transform: uppercase;
   color: gray;
   font-size: 90%;    
}

div.features-title {
    display: flex;
}

div.features-title:hover {
    cursor: pointer;
}

div.arrow-main { 
    color: rgb(153, 153, 153);
    width: 1.5em;
    height: 1.5em;    
    background-image: url('../arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

div.arrow-main:hover {
    cursor: pointer;  
}

div.arrow-button {
    display: inline-block;
    width: 20px;
    height: 20px;    
    background-image: url('../arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
    margin-left: 10px;
}

div#features-1 {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

div.pet-select, div.age-select {
    flex: 300px 1 1;
    display: flex;
    justify-content: space-between;
    align-items: center;     
}


div#features-2 {
    display: flex;
    margin-top: 20px;
}


div.features {
    flex: 500px 1 1;
}

div#sub-drop{
    display: flex;

}

div#color-select-cont, div#character-select-cont {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    grid-template-columns: 1fr;
    transition: grid-template-rows 0.1s ease-in-out;
    overflow: hidden;   
}

 div#character-select-cont {
    right: 250px;
}

div.features ul{    
    border: solid 1px rgb(194, 194, 194);
    background-color: rgb(255, 255, 255, 1);
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
    visibility: visible;
    opacity: 0;
    min-height: 0;
    margin: 0;
    transition: 0.2s ease;
}



/*div.features ul.is-open {  
    visibility: visible;
    opacity: 1;
    transition: 0.2s;

}*/

div#color-select-cont.cont-is-open, div#character-select-cont.cont-is-open {  
    grid-template-rows: 1fr;

}

div#color-select-cont.cont-is-hidden, div#character-select-cont.cont-is-hidden {  
    display: none;

}

div#color-select-cont.cont-is-open ul, div#character-select-cont.cont-is-open ul {  
   opacity: 1;

}

/*------------------------------------------для разворачивания поиска--*/


.pet-search-form-cont {
    display: grid;   
    grid-template-rows: 0fr;
  
    transition: grid-template-rows 0.2s ease-in-out;
}

form#pet-search-form { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    min-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.1s ease, transform 0.1s ease;
}


.pet-search-form-cont.is-open {   
     grid-template-rows: 1fr;    
    
}

.pet-search-form-cont.is-open form#pet-search-form { 
      
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
}

ul.features li {
   list-style-type: none;
}

ul.features li div {
    display: inline-block;
}

/*-----------------------------------buttons--*/

form#pet-search-form>div:last-child {     
    align-self: flex-end;
    display: flex;
    gap: 10px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

form#pet-search-form>div:last-child input, form#pet-search-form div:last-child button{     
    background: none;
    outline: solid 1px #762d00cc;
    border: none;
    border-radius: 8px;
    color: #762D00;
    text-transform: uppercase;
    padding: 0.5em 1em 0.5em 1em;
    transition: 0.2s;
}

form#pet-search-form>div:last-child input{     
    flex: auto;
}

form#pet-search-form>div:last-child button{     
    background: none;
    outline: solid 1px #a8a8a8;
    border: none;
    border-radius: 8px;
    color:#a8a8a8;    
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 0.5em 1em 0.5em 1em;
    transition: 0.2s;
}

form#pet-search-form>div:last-child button div{
    width: 1em;
    height: 1em;
}

@media (hover: hover) {

    form#pet-search-form>div:last-child input:hover{     
        background-color: rgba(202, 153, 140, 0.8);
        outline-color:  rgba(202, 153, 140, 0.8);  
        border-radius: 8px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0.5em 1em 0.5em 1em;
    }

    form#pet-search-form>div:last-child button:hover{     
        background-color: rgba(201, 201, 201, 0.8);
        outline-color:  rgba(201, 201, 201, 0.8);  
        border-radius: 8px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0.5em 1em 0.5em 1em;
    }


}


input[type="checkbox"],
input[type="radio"] {
  accent-color: rgb(255, 255, 255);
}

/*-------------------------------------------------------*/







@media all and (max-width:1300px){

    div#main-first-block { 
             
        padding-right: 40px;
      
    }
}

@media all and (max-width:1300px){

    div#main-first-block { 
        width: 100%;       
        margin-top: 70px;        
    }

}


@media all and (max-width:1000px){

    div#color-select-cont, div#character-select-cont {
        position: static;
       
    }

    div#features-1 {
        display: flex;
        margin-top: 20px;
        gap: 20px;

    }
    
}


@media all and (max-width:750px){

    div#color-select-cont, div#character-select-cont {
        position: static;
    }

    div#features-1 {
       flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }

    div.pet-select {
        flex: auto 1 1;
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }
  
    div.title {        
        margin-left: 0;
        margin-bottom: 40px;

    }
    
}

@media all and (max-width:400px) {

    div.features ul {
        padding: 20px;
        font-size: 70%;
    }

    

    form#pet-search-form>div:last-child {
        margin-top: 0;
    }
    
    
}

@media all and (max-width:380px) {

    label {
        display: none;
    }

    div#main-first-block { 
       
        padding: 20px;
        margin-top: 30px;
       
    }

    div.pet-select {
        flex: auto 1 1;
        
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }

    div.title {        
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    select#pet-kind, select#pet-age, select#pet-sex  {
       
        
        margin-left: 0;
}

div.features {
    flex: auto 1 1;
}

    div#features-2 {
        flex-direction: column;
    }

    div.title {        
           
            font-size: 60%;
        }

}








