

div.title {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-weight: 500;
    width: 80%;
    font-size: 220%;
    padding: 0.7em;
    color: #762D00;
    text-transform: uppercase;   
    border-bottom: solid 1px rgb(118, 45, 0, 0.7);       
    margin: 20px;
    background-color: rgb(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    position: relative;
}

div.see-all-ref {
    font-size: 50%;
    display: flex;
    align-items: center;    
    align-self: end;  
}

div.see-all-ref a {
    text-decoration: none;     
}

div.see-all-ref a:visited {
    color: inherit;     
}


div.see-all-ref div#arrow-see-all-ref {
    width: 20px;
    height: 20px;
    display: inline-block;  
}


div.see-all-ref div#arrow-see-all-ref custom-icon{    
    color: #762D00;    
}


div.take-friend-img custom-illustration {
    color: #762D00;
    width: 100%;

}

div#take-friend-cat {
    position: absolute;
    bottom: 0px;
    right: 0;
}


div.take-friend-img{
    position: absolute;
    height: 40px;
    width: 100px;
    right: 0px;
    bottom: 10px;
}


div.take-friend-img.cat-tail {
    width: 70px;
    height: 50px;
    right: -70px;
    bottom: -35px;
}

@media all and (max-width: 1700px) {
      
   

}


@media all and (max-width: 1500px) {

   

}



@media all and (max-width: 1300px) {



}


@media all and (max-width: 1000px) {/*-------------------------------------------*/
div.title {
    font-size: 200%;
    padding: 0.5em;
   
}
    
           
}


@media all and (max-width: 900px) {/*-------------------------------------------*/
div.title {
    font-size: 180%;
    
   
}
    
           
}


@media all and (max-width: 750px) {

    div.title {
        font-size: 150%;    
    }

    div#take-friend-cat {
    position: absolute;
    bottom: 0px;
    right: 20px;
}


    
}


@media all and (max-width: 670px) {

    div.title {
        font-size: 140%;    
    }

    div#take-friend-cat {
    transform: scale(0.9);
}


    
}


@media all and (max-width: 600px) {

   div.title {
        font-size: 110%;    
    }
    
}


@media all and (max-width: 500px) {

 div.title {
        font-size: 100%;    
    }
div.see-all-ref div:first-child {
    display: none;
}
   div#take-friend-cat {
    transform: scale(0.8);
}

}


@media all and (max-width: 450px) {
   
    div#take-friend-cat {
        transform: scale(0.65);
    }
    

}


@media all and (max-width: 420px) {
   
    div#take-friend-cat {
        display: none;
    }

}


@media all and (max-width: 380px) {

  

}

